/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(1, 4, 9, 1) 0%, rgba(6, 45, 60, 1) 100%);
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 10%;
    flex-shrink: 0;
}

header h1 {
    color: #e52114;
}

.search {
    display: flex;
    align-items: center;
}

.search-bar {
    width: 200px;
    height: 35px;
    padding: 10px;
    border: none;
    outline: none;
}
.search-button {
    width: 70px;
    height: 35px;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Movie container style */
.movie-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 1170px;
    max-height: 80vh;
    margin: 0 auto;
    overflow-y: auto;
}

.movie-container::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
.movie-container::-webkit-scrollbar-thumb {
    background: #ccc;
    width: 1px;
    border-radius: 20px;
}

.movie {
    position: relative;
    margin: 10px;
}

.movie-poster {
    width: 250px;
    height: 400px;
}

.movie-details {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 10px;
    line-height: 20px;
    font-size: 14px;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    opacity: 0;
    transition: opacity .4s;
}

.movie-details:hover {
    opacity: 1;
}

.movie-details span {
    font-weight: 200;
    color: #ddd;
}

.movie-rating i {
    color: rgb(255, 217, 0);
}
.movie-excerpt {
    text-align: justify;
}

.movie-excerpt::after {
    content: "...";
}

/* flag icons style */
.flag {
    width: 20px;
    height: auto;
}
